:root {
    --color-principal: #444;
    --color-principal-hover: #666;
    --color-borde: #333;
    --color-borde2: #ccc;
    --color-fondo: #f9f9f9;
    --color-texto: #555;
    --color-blanco: #fff;
    --color-textop: #3B4042;
    --color-footer: #3B4042;
    --color-card: #C14C64;
    --color-body: #C14C64;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansation", sans-serif;
}

body{
    background-color: var(--color-body);
}
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 4vh 2vw;
}

.card {
    background-color: var(--color-card);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.perito2{
    width: 30vw;
    height: 30vh;
    background-size: 8rem;
    margin: 0 auto;
    border-radius: 1rem;
}

.chelton{
    width: 30vw;
    height: 30vh;
    margin: 0 auto;
    border-radius: 1rem;
}

#imagen {
    width: 90%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
}


.ver-mas {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}
.ver-mas:hover{
    background-color: gray;
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    position: relative;
}

p{
    color: var(--color-textop);
}

#menu {
    list-style: none;
    display: flex;
    gap: 1rem;

}

#menu li a {
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
}


#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.banner {
    text-align: center;
    margin: 2rem;
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 2vw;
    gap: 4vw;
    flex-wrap: wrap;
}

/* Responsivo */
@media (max-width: 768px) {
    #menu {
        display: none;
        flex-direction: column;
        background: var(--color-blanco);
        position: absolute;
        top: 100%;
        right: 0;
        width: 50vw;
        border: 1px solid var(--color-borde2);
    }

    #menu.show {
        display: flex;
    }

    #menu-toggle {
        display: block;
    }
}